
 {% extends "base2.html" %}   
	
	
{% block content%}
	

    
<div class = "container">
    <h1 style="text-align:center"> DragonPass Main Dashboard</h1>


<div class ="row" style="margin-top:40px">
    <div class = "col-md-6">
        <canvas id="myChart"></canvas>
    </div>
    <div class = "col-md-6">
        <canvas id="myChart1"></canvas>
    </div>
</div>

    
    
    
    
    
<div class ="row" style="margin-top:40px">
    
    <h3 style = "text-align: center"> Top Lounges </h3>
    
    
    <div class = "col-md-12">
        <table class="table table-striped">
    <thead>
      <tr>
        <th>Lounge</th>
        <th>Airport</th>
        <th>Number of purchased by non-members</th>
        <th>Number of member access</th>
        <th>Revenue Generated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SATS Premier Lounge - Terminal 1</td>
        <td>Singapore</td>
        <td>3252</td>
        <td>3252</td>
        <td>£42953</td>
      </tr>
      <tr>
        <td>SATS Premier Lounge- Terminal 3</td>
        <td>Singapore</td>
        <td>3200</td>
        <td>3252</td>
        <td>££32953</td>
      </tr>
      <tr>
        <td>Aspire Lounge (No.26) - Main terminal</td>
        <td>Amsterdam</td>
        <td>2345</td>
        <td>2345</td>
        <td>££42923</td>
      </tr>
        <tr>
        <td>Al Maha Transit Lounge – Terminal 1</td>
        <td>Doha</td>
        <td>2245</td>
        <td>2245</td>
        <td>££42874</td>
      </tr>
      <tr>
        <td>Priority Lounge - Terminal 2</td>
        <td>Frankfurt</td>
        <td>1988</td>
        <td>1988</td>
        <td>££28405</td>
      </tr>
      <tr>
        <td>Hong Kong Airlines - Club Autus – Midfield Course</td>
        <td>Hong Kong</td>
        <td>1267</td>
        <td>1267</td>
        <td>££12435</td>
      </tr>
        
        
        
        
        
    </tbody>
  </table>
        

    </div>
    
</div>
    
</div>



<script>
//chart 1
    let myChart = document.getElementById('myChart').getContext('2d');
    
    let massPopCharts = new Chart(myChart, {
        type:'bar', //different bar types includes bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['August 2019', 'September 2019', 'October 2019', 'November 2019', 'December 2019', 'January 2020', 'February 2020', 'March 2020', 'April 2020', 'May 2020', 'June 2020', 'July 2020', 'August 2020'],
            datasets:[{
                label: 'Population',
                data:[100,123,123,125,128,129,123,123,125,128,129,125,128,129,128,129],
                backgroundColor:'green',
                //backgroundColor:['green','blue','yellow','brown','pink',],
                    }]
        },
        options:{
            title:{display:true, text: 'The number of memberships sold plans sold each month in the last 12 months',fontSize:25},
            legend:{display:false}
        },
        
        layout:{ padding:{left:10}
            }
        
    });
    
//chart 2 
        let myChart1 = document.getElementById('myChart1').getContext('2d');
    
    let massPopCharts1 = new Chart(myChart1, {
        type:'bar', //different bar types includes bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['April 2020','May 2020','June 2020', 'July 2020', 'August 2020'],
            datasets:[{
				label: '1 star ratings',
				data: [
					'23',
					'23',
					'20',
					'23',
					'28'
				],
                backgroundColor:'blue',
			}, {
				label: '2 star ratings',
				data: [
					'23',
					'23',
					'20',
					'23',
					'28'
				],
                backgroundColor:'green',
			}, {
				label: '3 star ratings',
				data: [
					'23',
					'23',
					'20',
					'23',
					'28'
				],
                backgroundColor:'orange',
            }, {
  				label: '4 star ratings',
				data: [
					'23',
					'23',
					'20',
					'23',
					'28'
				],
                backgroundColor:'yellow',              
            }, {
  				label: '5 star ratings',
				data: [
					'23',
					'23',
					'20',
					'23',
					'28'
				],
                backgroundColor:'brown',    
                
                }]
        },
        options:{
            title:{display:true, text: 'Total number of app rating by star level',fontSize:25},
            legend:{display:true},
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
            }]
        },
        layout:{ padding:{left:10}
            }
        }
    });
    
    
    
    
    
    
    
    
    
//chart 3
    let myChart3 = document.getElementById('myChart3').getContext('2d');
    
    let massPopCharts3 = new Chart(myChart3, {
        type:'bar', //different bar types includes bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['Boston','New York','London', 'Berlin', 'Paris'],
            datasets:[{
                label: 'Population',
                data:[694583,8399000,8982000,3769000,2148000],
                //backgroundColor:'green',
                backgroundColor:['green','blue','yellow','brown','pink'],
                    }]
        },
        options:{
            title:{display:true, text: 'Population of various cities',fontSize:25},
            legend:{display:false}
        },
        
        layout:{ padding:{left:10}
            }
    });
    
//chart 4 
        let myChart4 = document.getElementById('myChart4').getContext('2d');
    
    let massPopCharts4 = new Chart(myChart4, {
        type:'pie', //different bar types includes bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['Boston','New York','London', 'Berlin', 'Paris'],
            datasets:[{
                label: 'Population',
                data:[694583,8399000,8982000,3769000,2148000],
                //backgroundColor:'green',
                backgroundColor:['green','blue','yellow','brown','pink'],
                    }]
        },
        options:{
            title:{display:true, text: 'Population of various cities',fontSize:25},
            legend:{display:false}
        },
        
        layout:{ padding:{left:10}
            }
    }); 
    
    
    
    
 

</script>


{% endblock %}