<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendors/bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom fonts for this template -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendors/fontawesome-free/css/all.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendors/simple-line-icons/css/simple-line-icons.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing-page.css') }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" style = "color:black" href="#">YM Analytics</a>
      <a class="btn btn-primary" href="{{ url_for('login')}}">Log in</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Analyse your website and app data easily with us!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <a href="{{ url_for('login')}}" class="btn btn-danger"> Login to your account</a>
        </div>
      </div>
    </div>
  </header>

 

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendors/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>





</body>

</html>
