
{% extends "base.html"  %}




{% block content %}
<div class ="container" style = "margin-top:10%">
    
    <h1 style="text-align: center"> Log in</h1>
    
<div class = "col-sm-6 offset-sm-3">
<form action = "" method="post">
  
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
    
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  <a href= "{{url_for('dashboard')}}" class="btn btn-primary"> Log in!</a>
    
    <hr>
    
    <p>Don't have an account? <a href="{{ url_for('signup')}}">Sign up today!</a></p>
    
    
</form>
</div>

</div>


{% endblock %}
    
    
    
    
